body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.background-image {
    background-image: url('poze/SteagulMonarhiei\ \(1\).png'); /* Înlocuiește cu calea imaginii tale */
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-box {
    background-color: rgba(255, 255, 255, 0.7); /* Caseta albă semitransparentă */
    padding: 40px 60px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.title-box h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Stiluri pentru gradient cu culori hard-stop și animație */
#gradient-title {
    background: linear-gradient(
        to right,
        blue 0%,
        blue 25%,
        yellow 25%,
        yellow 50%,
        red 50%,
        red 75%,
        blue 75%,
        blue 100%
    );
    background-size: 400% 100%; /* Mărim dimensiunea pentru a acoperi toate culorile */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 8s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}